@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family:Arial, Helvetica, sans-serif;
  width: 100%;
 
  
}

.hero{
  display: flex;
  flex-direction: row;
}

.png{
  height: 501px;
  width: 501px;
  margin-left: 105px;
  border-radius: 9.91;
  margin-top: 232px;
  
}

.hero-left{
  width: 540px;
  height: 16px;
  margin-top: 232px;
  margin-left: 253px;
  font-size: 18.9px;
 
}
.hero1{
  margin-top: 10px;
  color:  #8c52ff;
}

.cutamt{
  text-decoration: line-through;   
  text-decoration-color: #8c52ff; 
  margin-right: 0.5rem; 
  border-radius: 17px;

}
.text-lg{
  font-size: 19.06px;
}

.line{
  width: 1290px;
  height: 4px;
  margin-top: 142px;
  margin-left: 90px;
   border-radius: 10px;
  background: linear-gradient(to left, #787878 90%,#8c52ff 10% );
 
}


.btn{
  margin-top: 30px;
  height: 51px;
  width: 65px;
 border: 2px solid #787878;
 background-color:#d9d9d9 ;
 color: #787878;

}

.btn:hover {

  background-color: #000000;
  color: #ffffff;
  transform: scale(1.2);
 
}


.btn-left{

  margin-top: 30px;
  height: 52.22px;
  margin-left: 85px;
 width: 189.43px;
 border: 2px solid #787878;
 background-color:#000000 ;
 color: #787878;
 border-radius: 36.53px;
 border: 2px solid#ffffff;
 cursor: pointer;
  transition: background-color 0.3s ease;
 
}

.btn-left:hover {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.2);
  border-color:2px solid #787878;

}

.p1{
  width: 756px;
  font-size: 16px;
 
}

.heading{
  font-size: 28.56px;
  margin-top: 39px;
}

.head{
  font-size: 24.67px;
  margin-left: 90px;
  margin-top: 18px;
}


.features{
  margin-left: 90px;
  font-size: 22px;
  
 
}

.text{
  font-size:19px;
  margin-bottom: 15px;
  width: 1550px;
  
}

.p{
  margin-left: 90px;
  font-size: 19px;
  width: 1560px;
  margin-top: 75px;
}

.head1{
  margin-top:120px;
  font-size: 28.67px;
  margin-left: 90px;
}

.card{

  display: flex;
  flex-direction: row;
text-align: center;
  font-size: 19.8pxs;
  margin-top: 90px;
  margin-bottom: 90px;
}

.card-pannel{
  width: 314px;
  height: 396;
  
  background-color: #d9d9d9;
  margin-left: 96px;
  border-radius: 10px;
  color: #000000;
}
.footer{
  height: 168px;
  width: 275px;
 
 margin: 20px;
}

.footer:hover{
  transform: scale(1.1);
}
.endbtn{
  width: 150px;
  padding: 10px;
  margin: 15px;
  color:  #000000;
  border: 2px solid #000000;
  border-radius: 30px;
}

.endbtn:hover {

  background-color: #000000;
  color: #ffffff;
  transform: scale(1.2);
 
}